.theory__text{
    flex: 1;       
    overflow-y: auto;    
    overflow-x: hidden;
    background-color: var(--bg-light-blue);
    padding: 30px;
    font-size: var(--text-s);
    font-weight: var(--text-regular);
    scrollbar-width: auto;  
    scrollbar-color: #0d1f33 transparent;
}

.theory__text-limit{
    margin: 0 auto;
    max-width: 700px;
}

.theory__text-description > p{
    color: #0d1f33;
    font-size: var(--text-m);
    line-height: 1.6;
    font-weight: 400;
}

.description-property__paragraph{
    margin-bottom: 5px;
}

.text-syntax__title{
    color: #0d1f33;
    font-weight: var(--text-bold);
    font-size: var(--text-xl);
    margin-top: 22px;
}

.syntax-property__code {
  background: var(--bg-darkest);           
  color: var(--text-on-dark);                
  font-size: var(--text-m);
  padding: 12px 16px;
  border-radius: 0px;
  margin: 10px 0;
  overflow-x: auto;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.08);
}

.syntax-property__code code {
  font-family: 'Fira Code', monospace;
  white-space: pre;
}


.theory__title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    svg{
        filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.3));
    }
}

.theory__title--light{
    font-weight: var(--text-regular);
}

.theory__title--bold{
    font-weight: var(--text-bold);
}

