.block{
    position: relative;
}

.block.completed {
    animation: pop 0.25s ease-out;
    transition: box-shadow 0.4s ease;
}

@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.block.completed::after {
    content: "";
    position: absolute;
    top: -8px;
    right: -8px;
    width: 24px;
    height: 24px;
    background: #00c851;
    border-radius: 50px;

    background-image: url('/assets/check.svg');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.344);
}

.block-name-text{
    display: none;
    white-space: nowrap;
    color: red;
    font-size: var(--text-s);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}