.block-container{
    width: 400px;
    height: 300px;
    background-color: var(--gradient-darkest);
    position: relative;
}

.completed-sublevel-message{
    transform: translateX(100%);
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 5px 15px;
    font-size: var(--text-xs);
    background-color: var(--completed-dark);
    border-radius: 5px 0 0 12px;
    transition: all 0.5s ease;
    z-index: 1;
}

.completed-sublevel-message.completed{
    transform: translateX(0);
    opacity: 1;
}