.copy-code-button{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 5px;
    border: 1px solid rgb(62, 62, 62);
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
}

.copy-code-button__text{
    font-size: var(--text-xs);
}