.editor-button{
    background-color: var(--bg-darkest);
    width: fit-content;
    border-radius: 9999;
    border: 1px solid var(--highlight-yellow);
    height: 29px;
    padding: 0 8px;
}

.editor-button div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.editor-button > div > span{
    font-size: var(--text-xs);
    color: var(--bg-light);
}