.subheader-section{
    height: var(--section-title-height);
    background: linear-gradient(to right, var(--gradient-darkest), var(--bg-darkest), var(--gradient-darkest));
}

.subheader-section span{
    color: var(--text-on-light);
}
