.main__css-arena{
    display: flex;
    gap: var(--gap-main);
}

.target-layout, .playground{
    border-radius: var(--border-radius-l);
    background-color: var(--bg-darkest);
    width: 100%;
    height: 300px;
}

.target-layout{
    background: linear-gradient(to right, var(--bg-darkest), var(--bg-darkest), var(--gradient-darkest));
}

.main {
    padding: 20px 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "editor playground target"
        "editor theory theory"
    ;
    min-height: calc(100vh - 60px - 40px);
    gap: var(--gap-main);
}

main > section{
    border: 1px solid var(--border-dark);
    border-radius: var(--border-radius-l);
}

.main__editor{
    grid-area: editor;
}

.main__playground{
    grid-area: playground;
}

.main__target{
    grid-area: target;
}

.main__theory{
    grid-area: theory;
    border-radius: var(--border-radius-l);
    overflow: hidden;
}
