.main__css-arena{
    display: flex;
    gap: var(--gap-main);
}

.target-layout, .playground{
    border-radius: var(--border-radius-l);
    background-color: var(--bg-darkest);
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-dark);
}

.target-layout{
    background: linear-gradient(to right, var(--bg-darkest), var(--bg-darkest), var(--gradient-darkest));
}

.main {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "editor arena"
        "editor theory"
    ;
    /* min-height: calc(100vh - 70px); */
    height: calc(100vh - 80px);
    gap: var(--gap-main);
}

.main__editor,
.main__theory, 
.main__level-progress{
    border: 1px solid var(--border-dark);
    border-radius: var(--border-radius-l);
}

.main__editor{
    grid-area: editor;
}

.main__arena{
    grid-area: arena;
    display: flex;
    gap: var(--gap-main);
}

.main__playground{
    grid-area: playground;
    width: fit-content;
}

.main__target{
    grid-area: target;
    width: fit-content;
}

.main__theory{
    grid-area: theory;
    border-radius: var(--border-radius-l);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
