
*{
    font-family: Lexend, sans-serif;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 30px ;
    background-color: var(--bg-darkest);
    border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 0;
    overflow: hidden;
}

.header-right{
    display: flex;
}

.logo{
    font-size: 24px;
    cursor: pointer;
}

.logo-text{
    font-weight: 800;
}

.logo-text-light{
    font-weight: 100;
}

button{
    display: block;
}

.challenge-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 205px;
    gap: 10px;
    padding: 6px 0;
    background-color: var(--bg-dark);
    border-radius: 9999;
    svg{
        filter: drop-shadow(3px 3px 5px rgba(0,0,0,5));
    }
    span{
        color: var(--text-muted);
    }
}


.next-chall-btn{
    background-color: red;
}

h1{
    font-size: var(--text-xl);
    font-weight: 200;
    display: inline-block;
    margin-bottom: 5px;
    span.highlight{
        font-weight: var(--text-bold);
    }
}

.header-center{
    position: relative;
}

.outline-title{
    position: absolute;
    width: 100%;
    height: 20px;
    transform: rotate(-1.5deg);
    background-color: var(--highlight-yellow);
}

.header-right{
    display: flex;
    align-items: center;
    gap: 15px;
}

.home-btn{
    background-color: var(--highlight-yellow);
    padding: 8px 11px;
    border-radius: 20px;
    display: grid;
    place-items: center;

    svg{
        filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.5));
    }
}

.color-mode-btn{
    background-color: var(--bg-primary);
    width: 33px;
    height: 33px;
    display: grid;
    place-items: center;
    border-radius: 50px;
}