/* .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 30px ;
    background-color: var(--bg-darkest);
    background: linear-gradient(to right, var(--gradient-darkest), var(--bg-darkest), var(--gradient-darkest));
    border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 0;
    overflow: hidden;
    border-bottom: 1px solid var(--border-dark);
    max-width: var(--max-content-width);
    margin: 0 auto;
} */
 
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 15px 7px ;
    /* background-color: var(--bg-darkest); */
    overflow: hidden;
    max-width: var(--max-content-width);
    margin: 0 auto;
}

.header-container{
    background: linear-gradient(to right, var(--gradient-darkest), var(--bg-darkest), var(--gradient-darkest));
    border-bottom: 1px solid var(--border-dark);
    border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 0;
}

.header__logo{
    font-size: 24px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.header__logo-bold{
    font-weight: 800;
    border-bottom: 6px solid var(--highlight-yellow);
}

.header__logo-light{
    font-weight: 100;
}

.header__logo-svg{
    width: 35px;
}

.header__challenge-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 205px;
    gap: 10px;
    padding: 6px 0;
    background-color: var(--bg-dark);
    border-radius: 9999;
    box-shadow: inset 1px 1px 2px hsla(0, 0%, 100%, .1);
    svg{
        filter: drop-shadow(3px 3px 5px rgba(0,0,0,var(--shadow)));
    }
    span{
        color: var(--text-muted);
    }
}

.header__title{
    font-size: var(--text-xl);
    font-weight: 200;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: var(--text-bold);
}

.header__center{
    position: relative;
}

.header__title-outline{
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: var(--highlight-yellow);
}

.header__right{
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__home-btn{
    background-color: var(--highlight-yellow);
    padding: 8px 11px;
    display: grid;
    place-items: center;
    border-radius: 9999;

    svg{
        filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.5));
    }
}

.home-btn{
    background-color: var(--highlight-yellow);
}

.header__color-mode-btn{
    background-color: var(--bg-dark);
    border-radius: 9999;
    box-shadow: inset 1px 1px 2px hsla(0, 0%, 100%, .1);
    width: 33px;
    height: 33px;
    display: grid;
    place-items: center;
    border-radius: 50px;
}

/* .header__challenge-button--disabled span, 
.header__challenge-button--disabled svg{
    color: var(--btn-disabled);
    --text-on-light: var(--btn-disabled);
} */

.header__challenge-button--disabled{
    pointer-events: none;
    & > *{
        opacity: 0.2;
    }
}

.navigation-responsive{
    display: none;
}

@media (max-width: 1200px) {
    .header-container{
        position: sticky;
        top: 0;
        z-index: 10;
        border-radius: 0;
        border: 0;
        background: var(--bg-header-darkest);
        backdrop-filter: blur(20px);
    }

    .header__title{
        font-size: var(--text-l);
    }

    .header__challenge-button--desktop{
        display: none;
    }

    .header{
        gap: 15px;
    }

    .navigation-responsive{
        display: flex;
        justify-content: space-between;
        background-color: var(--gradient-darkest);
        padding: 10px var(--padding-left-mobile);

        button{
            width: 170px;
            padding: 2px 0;
        }

        button > span{
            font-size: var(--text-xs);
        }
    }

    .header__right{
        flex-direction: row-reverse;
    }

    .header__logo{
        font-size: var(--text-s);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .header__logo-svg{
        width: 20px;
    }
}


@media(max-width: 600px){
    .header__color-mode-btn{
        display: none;
    }

    .nav-sep{
        height: 30px;
        border: 0.5px solid var(--bg-dark);
    }

    .navigation-responsive{
        display: flex;
        align-items: center;
        justify-content: space-between;
        button{
            background: none;
            box-shadow: none;
        }
    }

    .header__logo-svg{
        display: none;
    }

    .header__logo-bold{
        border-bottom: none;
    }
}