*{
    font-family: Lexend, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-right{
    display: flex;
}

.logo{
    font-size: 24px;
}

.logo-text{
    font-weight: 800;
}

button{
    display: block;
}

.challenge-button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}