.editor{
    height: 100%;
    border-radius: var(--border-radius-l);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(to bottom, var(--bg-darkest), var(--gradient-darkest));
    /* background: transparent; */
    & > *{
        padding: 15px;
    }
}

.editor.completed{
    outline: 1px solid var(--completed-light);
    filter: drop-shadow(0 0 4px var(--completed-light));
    animation: editorCompletedAnimation .2s ease-in-out 1;
}

@keyframes editorCompletedAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

.editor__challenge{
    background-color: var(--highlight-yellow);
    color: var(--text-on-dark);
    font-weight: var(--text-regular);
    text-align: center;
    font-size: var(--text-m);
}

.editor__challenge--bold{
    color: var(--text-on-dark);
    font-weight: var(--text-bold);
}

textarea{
    width: 100%;
    line-height: 1.5;
    /* background-color: var(--bg-darkest); */
    /* background: radial-gradient(circle, var(--bg-dark), var(--gradient-darkest)); */
    /* background: linear-gradient(to bottom, var(--bg-darkest), var(--bg-darkest), var(--gradient-darkest)); */
    background: transparent;
    border: none;
    resize: none;
    flex: 1;
    font-family: monospace;
    font-size: var(--text-m);
    &:focus{
        outline: none;
    }
}

.editor__title--light-typo{
    font-weight: var(--text-regular);
}

.editor__title svg{
    transform: rotate(-20deg);
}

.editor__title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    svg{
        filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.3));
    }
}

.editor-buttons__wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-bottom: 0;
}

.solution-code{
    width: 100%;
    height: 100%;
    background-color: var(--gradient-darkest);
    border-radius: var(--border-radius-l);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.solution-header > div{
    background-color: var(--gradient-darkest);
    padding: 2px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    border-radius: 7px;
}

.solution-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
    margin-bottom: 10px;
}

.solution-header__title{
    color: var(--highlight-yellow);
    font-weight: var(--text-bold);
    font-size: var(--text-xl);
}

