.editor{
    height: 100%;
    border-radius: var(--border-radius-l);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(to bottom, var(--bg-darkest), var(--bg-darkest), var(--gradient-darkest));

    & > *{
        padding: 15px;
    }
}

.editor__challenge{
    background-color: var(--highlight-yellow);
    color: var(--text-on-dark);
    font-weight: var(--text-regular);
    text-align: center;
}

.editor__challenge--bold{
    color: var(--text-on-dark);
    font-weight: var(--text-bold);
}

textarea{
    width: 100%;
    /* background-color: var(--bg-darkest); */
    /* background: radial-gradient(circle, var(--bg-dark), var(--gradient-darkest)); */
    /* background: linear-gradient(to bottom, var(--bg-darkest), var(--bg-darkest), var(--gradient-darkest)); */
    background: transparent;
    border: none;
    resize: none;
    flex: 1;
    font-family: monospace;
    font-size: var(--text-m);
    &:focus{
        outline: none;
    }
}

.editor__title--light-typo{
    font-weight: var(--text-regular);
}

.editor__title svg{
    transform: rotate(-20deg);
}

.editor__title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    svg{
        filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.3));
    }
}

.editor-buttons__wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-bottom: 0;
}

.modal-solution__background{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(7px);
    background-color: #8190a04a;
    z-index: 2;
}

.modal-solution__background.showModal{
    display: block;
}

.modal-solution__wrapper{
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: var(--border-radius-xl);
    max-width: 500px;
    min-height: fit-content;
    z-index: 2;
    position: relative;
}

.solution-code{
    width: 100%;
    height: 100%;
    background-color: var(--gradient-darkest);
    border-radius: var(--border-radius-l);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.solution-header > div{
    background-color: var(--gradient-darkest);
    padding: 2px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    border-radius: 7px;
}

.close-modal-button{
    background-color: var(--gradient-darkest);
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 9999;
    display: grid;
    place-content: center;
    box-shadow: inset 1px 1px 2px #ffffff1a;
}

.solution-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
    margin-bottom: 10px;
}

.solution-header__title{
    color: var(--highlight-yellow);
    font-weight: var(--text-bold);
    font-size: var(--text-xl);
}

