.editor{
    height: 100%;
    border-radius: var(--border-radius-l);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & > *{
        padding: 15px;
    }
}

.editor__challenge{
    background-color: var(--highlight-yellow);
    color: var(--text-on-dark);
    font-weight: var(--text-regular);
    text-align: center;
}

.editor__challenge--bold{
    color: var(--text-on-dark);
    font-weight: var(--text-bold);
}

textarea{
    width: 100%;
    /* background-color: var(--bg-darkest); */
    /* background: radial-gradient(circle, var(--bg-dark), var(--gradient-darkest)); */
    background: linear-gradient(to bottom, var(--bg-darkest), var(--bg-darkest), var(--gradient-darkest));
    border: none;
    resize: none;
    flex: 1;
    font-family: monospace;

    &:focus{
        outline: none;
    }
}

.editor__title--light-typo{
    font-weight: var(--text-regular);
}

.editor__title svg{
    transform: rotate(-20deg);
}

.editor__title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    svg{
        filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.3));
    }
}