.level-dot{
    width: 15px;
    height: 15px;
    background-color: var(--highlight-red);
    filter: drop-shadow(0px 0px 7px rgba(219, 0, 0, 1));
    border-radius: 50px;
    animation: zoom 2s linear infinite;
    pointer-events: none;
}

.level-dot.completed{
    background-color: green;
    filter: drop-shadow(0px 0px 7px rgb(21, 120, 57));
}

.level-dot-wrapper{
    position: relative;
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.level-dot__sublevel-name{
    display: none;
    background-color: var(--bg-dark);
    padding: 5px 7px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -180%);
    transition: all .9s ease;
    font-size: var(--text-s);
}

.level-dot__sublevel-name.show{
    display: block;
}

.level-dot__sublevel-name__edge{
    background-color: var(--bg-dark);
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%) rotate(-45deg);
    width: 10px;
    height: 10px;
}


@keyframes zoom {
    0%{
        transform: scale(0.8)
    } 50% {
        transform: scale(1.2) 
    } 100%{
        transform: scale(0.8);
    }
}