.main__level-progress{
    background: var(--gradient-darkest);
    width: 70px;
    border-radius: var(--border-radius-l);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.progress__title{
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    border-bottom: 0.5px solid var(--border-dark);
}