.main__level-progress{
    background: var(--gradient-darkest);
    width: 70px;
    border-radius: var(--border-radius-l);
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: var(--border-width-section) solid var(--highlight-yellow);
}

.progress__title{
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    border-bottom: 0.5px solid var(--border-dark);
    white-space: nowrap;
}

.main__level-progress.show{
    outline: 1px solid var(--completed-light);
    filter: drop-shadow(0 0 4px var(--completed-light));
    animation: editorCompletedAnimation .2s ease-in-out 1;
}

.level-completed-modal__title-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  div{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .level-completed-modal__confetti{
    animation: vibrate 1s 2 forwards;
    transform-origin: center;
  }
}

.level-completed-modal__title-text{
  color: #0a1422;
  font-size: var(--text-xl);
  font-weight: var(--text-bolder);
}

.level-completed-modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--highlight-yellow);
  color: #0a1422;
  font-size: var(--text-m);
  line-height: 1.3;
  border-radius: var(--border-radius-l);
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 20px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(0) translateX(0);
  transform-origin: left;
  transition:  opacity 0.8s ease;
  gap: 10px;
}

.level-completed-modal.show{
  z-index: 9999;
  opacity: 1;
  background-color: var(--highlight-yellow);
  color: #0a1422;
  left: -10px;
  transform: scale(1) translateX(-100%);
  width: 405px;
  height: 100%;
}

.level-completed-modal__close-button{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-30%, 30%);
}

.next-level-button{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.next-level{
  padding: 10px;
}

@media(max-width: 930px){
  .main__level-progress{
    flex-direction: row;
    width: calc(100vw - 20px);
    height: fit-content;
  }

  .progress__title{
    border-bottom: 0;
    border-right: .5px solid var(--border-dark);
    padding-right: 15px;
  }
}

@keyframes editorCompletedAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes vibrate {
  0%   { transform: rotate(0deg) translate(0, 0); }
  10%  { transform: rotate(3deg) translate(1px, -1px); }
  20%  { transform: rotate(-2deg) translate(-1px, 2px); }
  30%  { transform: rotate(4deg) translate(2px, -1px); }
  40%  { transform: rotate(-3deg) translate(-2px, 1px); }
  50%  { transform: rotate(2deg) translate(1px, 1px); }
  60%  { transform: rotate(-4deg) translate(-1px, -2px); }
  70%  { transform: rotate(3deg) translate(2px, 0); }
  80%  { transform: rotate(-2deg) translate(-1px, 1px); }
  90%  { transform: rotate(1deg) translate(0, -1px); }
  100% { transform: rotate(0deg) translate(0, 0); }
}