.level-dot{
    width: 15px;
    height: 15px;
    background-color: var(--highlight-red);
    filter: drop-shadow(0px 0px 7px rgba(219, 0, 0, 1));
    border-radius: 50px;
    animation: zoom 2s linear infinite;
}

.level-dot.completed{
    background-color: green;
    filter: drop-shadow(0px 0px 7px rgb(21, 120, 57));
}


@keyframes zoom {
    0%{
        transform: scale(0.8)
    } 50% {
        transform: scale(1.2) 
    } 100%{
        transform: scale(0.8);
    }
}